{
  "couchdb_url": "http://localhost:5984/substance",
  "server_host": localhost,
  "server_url": "http://localhost:3003",
  "server_port": 3003,
  "google_analytics": false,
  "secret": "password",
  "letterpress_url": "http://localhost:4004",
  "elasticsearch_url": "http://localhost:9200"
  }
}
