<!DOCTYPE html> 
<html>
<head>
  <title>Substance — Open Documents for the Web</title>
  <link href='/styles.css' media='screen' rel='stylesheet' type='text/css' />
  <script>
    var seed = {{{{seed}}}};
    var config = {{{{config}}}};
    var session = {{{{session}}}};
    var scripts = {{{{scripts}}}};
    var templates = {{{{templates}}}};
  </script>
  <script src='/javascripts/head.min.js'></script>
  <script>
    head.js.apply(this, scripts);
  </script>
  {{{{ga}}}}
</head>
<body>
  <div id='container'>
    <div id='main'></div>
  </div>

  <div id='sync_state'></div>

  <div id='notifications'>
    <div class='wrapper'></div>
  </div>

  <div id='footer'>
    <div class='inner'>
      <ul class='menu'>
        <li><a href='http://substance.io/substance/substance'>About</a></li>
        <li><a href='http://twitter.com/_substance' target='_blank'>Twitter</a></li>
        <li><a href='http://github.com/substance/substance' target='_blank'>Source Code</a></li>
        <li><a href='https://groups.google.com/group/substance_' target='_blank'>Discuss</a></li>
      </ul>

      <div class='contribute'>

        <h3>Contribute</h3>
        <div class='flattr'>
          <a class='FlattrButton' style='display:none;' href='http://substance.io'></a>
          <noscript><a href='http://flattr.com/thing/317181/Substance-Open-Documents-For-The-Web' target='_blank'>
          <img src='http://api.flattr.com/button/flattr-badge-large.png' alt='Flattr this' /></a></noscript>
        </div>

        <form id='contribute_form' action='https://www.paypal.com/cgi-bin/webscr' method='post'>
          <p>Substance is an volunteer effort. Help improve the project by donation via
          <input type='hidden' name='cmd' value='_s-xclick'>
          <input type='hidden' name='hosted_button_id' value='WAP9SGX5H29HS'>
          <a href='https://flattr.com/thing/317181/Substance-Open-Documents-For-The-Web'>flattr</a>, or
          <a href='/contribute' onclick='javascript: $('#contribute_form').submit(); return false;' id='contribute_button' class=''>Paypal</a>.
          We have received $442.00 so far. Thank you for that!</p>
        </form>
      </div>

    </div>
  </div>

</body>
</html>
