<div id='startpage'>
  <div class='intro clearfix'>
    <div class='intro-copy'>
      <em>&bdquo;An open approach to digital publishing.&ldquo;</em>
      <a href='#' class='sprite watch-intro'>Introduction</a>
      <p><strong>Substance</strong> is a free web-based authoring and publishing platform.<br />
      <p>Writers, journalists, scientists or anyone interested in publishing can use Substance for writing and sharing articles.<br />We believe that document authoring should be simple and collaborative.</p>
    </div>

    <div class='video hidden'></div>
    <div class='video-credits'>
      <div class='label'>Video and Narration</div>
      <div><a target='_blank' href='http://vimeo.com/remorauscher'>Remo Rauscher</a></div>
      <div class='label'>Music</div><div>Skizzo (Stephan M.)</div>
    </div>
  </div>

  <div class='overview clearfix'>
    <div class='col col-2'>
      <h4>Just Content Creation</h4>
      <p>Unlike traditional word-processors, Substance focuses on content leaving layout structure to the system, that's free of formatting utilities.</p>
      <h4>Collaboration</h4>
      <p>Substance is designed for open collaboration. Readers can participate by commenting on text passages and in the future - be able to submit patches that can be applied by the owner.</p>
      <h4>Integration</h4>
      <p>Substance exposes documents as data, ready to be compiled into arbitrary output formats (HTML, PDF, ePub ...) or integrated with other applications (like websites).</p>
    </div>

    <div class='col col-2 full'>
      <h3>Features</h3>
      <div class='col col-3'>
        <h4 class='sprite write'>Write</h4>
        <dl>
          <dt>Collaborative Editing</dt>
            <dd>Invite co-authors to your document</dd>
          <dt>Export</dt>
            <dd>Export to PDF, ODT, ePub, etc.</dd>
          <dt>Publish</dt>
            <dd>Publish and instantly share your articles</dd>
          <dt>Images</dt>
            <dd>Embed images in your document</dd>
          <dt>User Comments</dt>
            <dd>Comment on content fragments</dd>
        </dl>
      </div>

      <div class='col col-3'>
        <h4 class='sprite browse'>Browse</h4>
        <dl>
          <dt>Search by Keyword</dt>
            <dd>Find relevant documents based on keywords</dd>
            <dt>Networks <sup class='new'>new</sup></dt>
            <dd>Explore a diversity of networks containing
documents of different fields.</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
