/* ------------------------------------------
  Global
---------------------------------------------*/
html,
body {
  height: 100%;
  }
body {
  min-width: 1200px;
  }

.inner {
  padding: 0 20px;
  }
#main {
  padding-top: 40px;
  }
#content_wrapper {
  position: relative;
  margin: 0;
  }

.col    { float: left; margin-right: 20px; }
.col-1  { width: 940px; }
.col-2  { width: 460px; }
.col-3  { width: 220px; }
.col-4  { width: 100px; }

.full       { margin-right: 0; }
.full.col-1 { width: 960px; }
.full.col-2 { width: 480px; }
.full.col-3 { width: 240px; }
.full.col-4 { width: 120px; }

/* --------------------------------------
  Markup free clearing
  Details: http: //perishablepress.com/press/2009/12/06/new-clearfix-hack
----------------------------------------- */
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }
* html .clearfix { height: 1%; } /* IE6 */
*:first-child + html .clearfix { min-height: 1%; } /* IE7 */
