/* ------------------------------------------
  Global
---------------------------------------------*/
html,
body {
  height: 100%;
  }
body {
  min-width: 1200px;
  }

.inner {
  padding: 0 20px;
  }
#container { 
  min-height: 100%;
  padding-bottom: 180px;
  }
#main {
  padding-top: 35px;
  }
#content_wrapper {
  position: relative;
  margin: 0;
  }

/* --------------------------------------
  Markup free clearing
  Details: http: //perishablepress.com/press/2009/12/06/new-clearfix-hack
----------------------------------------- */
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }
* html .clearfix { height: 1%; } /* IE6 */
*:first-child + html .clearfix { min-height: 1%; } /* IE7 */
